* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#gradient {
    height: auto;
    background-color: beige; /* for non-gradient browsers */
    background-image: linear-gradient(rgb(81, 211, 200), pink);
}

header {
    background-color: rgb(179, 240, 237);
    width: auto;
    height: auto;
    border-radius: 5px;
    border-style: groove;
} 

#header { /* box with name and nav links */
    text-align: left;
    margin: 1%;
}

#profileImage {
    border-radius: 50%;
    width: 6%;
    height: auto;
    margin-bottom: auto;
    margin-left: 3%;
}

p {
    margin: 5%;
}

h3 {
    color:#fff;
    background-image: url("/assets/bckgrnd.jpg");
    border-radius: 5px;
    border-style: groove;
    margin: 1%;
}

h4 {
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
}

body {
    margin: 1px;
    text-align: center;
    font-size: 16px;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
}

ul {
    text-align: right;
    list-style: none;
}

ul li {
    display: inline-block;
    padding-left: 10px;
}

ul li:last-child{
    padding-right: 10px;
}

section {
    display: block;
}

.projects {
    margin: 40px;
    flex: 1;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.cardbig {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 30%;
    padding: 10px;
    margin: 10px;
    float: left;
    margin-top: 10px;
}

.card {
    width: 250px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-width: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #d5e7e5;
    margin: 30px;
}

.container {
    padding: 2px 16px;
    background-color: rgba(192, 241, 245, 0.877);
    width: auto;
    height: auto;
    border-radius: none;
    border-style: outset;
}

footer {
    bottom: 0;
    padding: 20px;
    text-align: left;
    background-image: url("/assets/bckgrnd.jpg");
    color: #fff;
    margin-top: auto;
    border-radius: 5px;
    border-style: groove;
    height: auto;
}

footer ul {
    text-align: center;
    margin-right: 40px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
